.cards {
   padding: 13px;
}
.card img {
    width: 30%;
    margin-left: 10px;
    margin-top: 12%;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    filter: brightness(120%);
    border-radius: 5px;
}