   .cards{
    flex-wrap: wrap;
    display: flex;
     justify-content: space-around; 
    margin-top: 2em;
    
    width: 100px;
}
   
    .product {  
    overflow: hidden; 
    box-shadow: 6px 2px 4px rgba(0, 0, 0, 0.15); 
    margin: 20px 10px;

    border:1px solid #ddd;
    padding: 10px;   
  
  }    
/* .card_info {
  box-shadow: 0 4px 4px 0 rgba(53, 36, 36, 0.2); 
  padding: 0px;
} */
 .card_img { 
   width: 100%;  
  filter: brightness(120%);

  display: block;
  object-fit: cover;
}    
.card_category {
  margin-top: 1%;
  font-size: 8px;
  margin-left: 9px;
  } 

/* work css*/
 .Cart {
  display: grid;
  margin-top: 20%;
  gap: 30px;
   max-width: 1200px; 
  grid-template-columns: auto auto auto auto;
  
} 
