body{
    background-color: rgb(252, 237, 237);
}
.container{
    padding: 13px;
    overflow: hidden;
    background-color: white;
    position: fixed;
    top: 0;
    width: 100%; 
}
 
.main ul{
    position: fixed;
    top: -9px;
    width: 90%;
    
   
}
.main ul li{
    float: right;
    display: inline;
    /* margin-bottom: 50%; */
}
.main ul li a {
    display: block;
    padding: 1px 10px;
    text-decoration: none;
    text-align: center;
    color: rgb(61, 101, 135);
    font-size: 7px;
}
.ellipse{
    width: 390px;
    height: 390px;
    border-radius: 100%;
    background-color: #f0886e;
    margin-top: 5%;
    filter: blur(190px);
    margin-right: 50%;
}
.ellipse1{
    width: 450px;
    height: 50px;
    border-radius: 100%;
    background-color: #DA6F53;
    float: right;
    filter: blur(70px); 
}
.flowers{
    display: flex;
     display: grid;
     grid-template-columns: 80px 80px; 
     float: right;
}
.flower-1 img {
    height: 70%;
    width: 70%;
    margin: 15%;
    float: right;
    border-radius: 25%;
    border:  2px solid  #DA6F53;
    box-shadow: 5px 5px;
}
.flower-1:hover{
transform:scale(1.3);
z-index: 2;
}
.flower-2 img {
    height: 70%;
    margin: 15%;
    margin-top: -10px;
    width: 70%;
    float: right;
    border-radius: 25%;
    border:  2px solid  #DA6F53;
    box-shadow: 5px 5px;
}
.flower-2:hover{
transform:scale(1.3);
z-index: 2;
}
.flower-3 img{
    height: 70%;
    width: 70%;
    margin: 15%;
    float: right;
    border-radius: 25%;
    border:  2px solid  #DA6F53;
    box-shadow: 5px 5px;
}
.flower-3:hover{
    transform:scale(1.3);
    z-index: 2;
    }
.flower-4 img{
    height: 70%;
    width: 70%;
    margin: 15%;
    margin-top: -10px;
    float: right;
    border-radius: 25%;
    border:  2px solid  #DA6F53;
    box-shadow: 5px 5px;
}
.flower-4:hover{
    transform:scale(1.3);
    z-index: 2;
    }
.header{
 margin-top: -170%;
}
.font{
    font-style: italic;
    margin: 10%;
    font-size: 10px;
}
.paragraph {
  margin: 10%;
  margin-top: -10%;
  
}
.content{
    margin: 10%;
    margin-top: -10%;
    font-style: italic;
}
.space{
 margin: 10%;
 margin-top: -10%;
 font-size: 10px;
}
.btn-container {
    margin-top: -6%;
    grid-template-rows: 300px 300px;
    grid-gap: 15px;
    display: flex;

}
.shop-now {
    border: 2px solid  #DA6F53;
    border-radius: 25px;
    background-color: #DA6F53;
    color: white;
    padding: 5px 15px;
    /* margin: 15%; */
    margin-left: 15%;
    font-size: 10px;
}
.new-word {
    border: 1px solid  #c9c0be;
    border-radius: 25px;
    border-radius: 2px solid rgb(230, 230, 230);
    font-size: 10px;
    color: black;
    padding: 5px 15px;
    

}