body {
    background-color: rgb(252, 237, 237);
}
.container {
    padding: 13px;
    overflow: hidden;
    background-color: rgb(250, 221, 221);
    position: fixed;
    top: 0;
    width: 100%;
    backdrop-filter: blur(10px);
}
 
.main ul {
    position: fixed;
    top: -9px;
    width: 85%;
}
.main ul li {
    float: right;
    display: inline;
}
.main ul li a {
    display: block;
    padding: 1px 10px;
    text-decoration: none;
    text-align: center;
    color: rgb(61, 101, 135);
    font-size: 7px;
}
.ellipse {
    width: 390px;
    height: 390px;
    border-radius: 100%;
    background-color: #f0886e;
    margin-top: 5%;
    filter: blur(190px);
    margin-right: 50%;
}
.ellipse1 {
    width: 450px;
    height: 50px;
    border-radius: 100%;
    background-color: #DA6F53;
    float: right;
    filter: blur(70px); 
}
.flowers {
    display: flex;
     display: grid;
     grid-template-columns: 80px 80px; 
     float: right;
     margin-right: 10%;
     margin-top: 5%;
}
.flower-1 img {

    width: 80%;
    margin-right: 15px;
    margin-top: -18px;
    float: right;
    border-radius: 10%;
    filter: brightness(120%);
    background-color: white;
    
}
.flower-1:hover {
transform: scale(1.1);

transition: all 0.3s ease-in-out;
}
.flower-2 img {
    
    margin: 15%;
    margin-top: -28px;
    width: 85%;
    float: right;
    filter: brightness(120%);
    border-radius: 10%;
    background-color: #46e6169d;

}
.flower-2:hover {
transform:scale(1.1);
transition: all 0.3s ease-in-out;

}
.flower-3 img {
    width: 85%;
    margin: 15%;
    float: right;
    margin-top: -11px;
    border-radius: 10%;
    background-color: #ffffff;
    filter: brightness(150%);
    


}
.flower-3:hover {
    transform:scale(1.1);
transition: all 0.3s ease-in-out
    }
.flower-4 img {
    width: 80%;
    margin: 15%;
    margin-top: -5px;
    float: right;
    border-radius: 10%;
    background-color: white;
    filter: brightness(120%);
}
.flower-4:hover {
    transform:scale(1.1);
transition: all 0.3s ease-in-out;
}
.header {
 margin-top: -170%;
}
.font {
    font-style: italic;
    margin: 10%;
    font-size: 10px;
}
.paragraph {
  margin: 10%;
  margin-top: -10%;
  
}
.content{
    margin: 10%;
    margin-top: -10%;
    font-style: italic;
}
.space {
 margin: 10%;
 margin-top: -10%;
 font-size: 10px;
}
.btn-container {
    margin-top: -6%;
    grid-template-rows: 300px 300px;
    grid-gap: 15px;
    display: flex;

}
.shop-now {
    /* border: 2px solid  #DA6F53; */
    border: none;
    border-radius: 25px;
    background-color: #DA6F53;
    color: white;
    /* margin: 15%; */
    margin-left: 18%;
    font-size: 7px;
    /* min-height: 30px; */
    min-width: 65px;
    /* padding: 3px 8px; */
}
.new-word {
    border: 0.5px solid  #DA6F53;
    border-radius: 25px;
    border-radius: 2px solid rgb(230, 230, 230);
    font-size: 7px;
    /* color: black; */
    padding: 5px 10px; 
    /* min-height: 30px; */
    min-width: 70px;
    color: black;
}
